body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('numpic.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    margin-left: 10%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(253, 253, 253, 0.8); 
}

h1 {
    text-align: center;
    color: #333;
}

p {
    color: #555;
}

input[type="number"], button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#message {
    font-weight: bold;
}
